<section class="section" id="section--4">
  <div class="section__title">
    <h2 class="section__description">Contact us</h2>
    <div class="contact__us">
      <div class="contact__item">
        <div class="contact__icon">
          <img src="assets/email.png" alt="Your image description" />
          <div class="contact__content">
            <h1>E-mail</h1>
            <p>weclean@services.com</p>
          </div>
        </div>
      </div>
      <div class="contact__item">
        <div class="contact__icon">
          <img src="assets/telephone.png" alt="Your image description" />
          <div class="contact__content">
            <h1>Phone</h1>
            <p>04-8888888</p>
          </div>
        </div>
      </div>
      <div class="contact__item">
        <div class="contact__icon">
          <img src="assets/building.png" alt="Your image description" />
          <div class="contact__content">
            <h1>Address</h1>
            <p>Majdal-Shams</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
