<header class="header">
  <div class="header__title">
    <h1>
      We
      <!-- Green highlight effect -->
      <span class="highlight">make</span>
      homes<br />
      <span class="highlight">healthy.</span>
    </h1>
    <h4>
      Your most trusted partner in cleaning. We clean, you relax. The result is
      a perfect blend of cleaner and refreshing that will have a impact on your
      health.
    </h4>
    <button
      class="btn--text btn--scroll-to"
      (click)="scrollToSection('services')"
    >
      Learn more &DownArrow;
    </button>
    <img
      src="assets/cleaning-services.png"
      class="header__img"
      alt="Cleaning Team"
    />
  </div>
</header>
