<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
  rel="stylesheet"
/>

<app-navbar></app-navbar>
<app-description id="description"></app-description>
<app-about id="how-it-works"></app-about>
<app-services id="services"></app-services>
<app-feedback id="testimonials"></app-feedback>
<app-contactus id="contact"></app-contactus>
<app-footer></app-footer>
<div class="to-top" (click)="scrollToTop()">
  <img src="../assets/up-arrow.png" alt="to-top-icon" />
</div>
