<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
  rel="stylesheet"
/>

<app-navbar (openModal)="showSignUp()"></app-navbar>
<app-header id="description"></app-header>
<app-HowItWorks id="how-it-works"></app-HowItWorks>
<app-services id="services"></app-services>
<app-feedback id="testimonials"></app-feedback>
<app-contactus id="contact"></app-contactus>
<app-footer></app-footer>
<div class="to-top" (click)="scrollToTop()">
  <img src="../assets/to-top.png" alt="to-top-icon" />
</div>
<app-signup-modal
  [isVisible]="isSignupVisible"
  (switchModal)="handleSwitchModal($event)"
></app-signup-modal>

<app-signin-modal
  [isVisible]="isSigninVisible"
  (switchModal)="handleSwitchModal($event)"
></app-signin-modal>
