.footer {
  padding: 8rem 3rem;
  background-color: #ebebeb;
}

.footer__name {
  font-family: monospace;
  font-size: 4rem;
  color: #222;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__item {
  margin-right: 5rem;
}

.footer__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #222;
}

.footer__logo {
  height: 8rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.footer__copyright {
  font-size: 1.4rem;

  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}
