<section class="section" id="section--2">
  <div class="section__title">
    <h2 class="section__description">Services</h2>
    <h3 class="section__header">We clean every types of room</h3>
  </div>

  <div class="features">
    <!-- Move the image box inside the features div -->
    <div class="features__image-box">
      <img
        src="assets/service-collage.png"
        data-src="img/digital.jpg"
        alt="Computer"
        class="features__img"
      />
    </div>
    <div class="features__feature">
      <div class="features__icon">
        <img src="assets/home-cleaning.png" alt="Home Cleaning" />
      </div>
      <h5 class="features__header">Home Cleaning Service</h5>
      <p>
        We have cleaning packages to suit your home's needs depending on size,
        comprehensiveness and regularity.
      </p>
    </div>
    <div class="features__feature">
      <div class="features__icon">
        <img src="assets/business-cleaning.png" alt="Business Cleaning" />
      </div>
      <h5 class="features__header">Business Cleaning Service</h5>
      <p>
        Our business cleaning service is tailored to fit your business needs to
        ensure a sanitized and safe workspace.
      </p>
    </div>
    <div class="features__feature">
      <div class="features__icon">
        <img src="assets/other-cleaning.png" alt="Other Cleaning" />
      </div>
      <h5 class="features__header">Other Cleaning Service</h5>
      <p>
        Specialty services to give your home and business even more detailed
        cleaning.
      </p>
    </div>
  </div>
</section>
