<header class="header">
  <div class="header__title">
    <h1>
      We
      <!-- Green highlight effect -->
      <span class="highlight">make</span>
      homes<br />
      <span class="highlight">healthy.</span>
    </h1>
    <h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Metus vulputate eu
      scelerisque felis.
    </h4>
    <button
      class="btn--text btn--scroll-to"
      (click)="scrollToSection('services')"
    >
      Learn more &DownArrow;
    </button>
    <img
      src="assets/cleaning-services.png"
      class="header__img"
      alt="Cleaning Team"
    />
  </div>
</header>
