<app-navbar
  (openModal)="showSignUp()"
  (showFeedback)="handleShowFeedbackModal()"
></app-navbar>
<app-header id="description"></app-header>
<app-HowItWorks id="how-it-works"></app-HowItWorks>
<app-services id="services"></app-services>
<app-feedback id="testimonials"></app-feedback>
<app-feedback-modal [isVisible]="isFeedbackVisible"></app-feedback-modal>
<app-contactus id="contact"></app-contactus>
<app-footer></app-footer>
<div class="to-top" (click)="scrollToTop()">
  <img src="../assets/to-top.png" alt="to-top-icon" />
</div>
<app-signup-modal
  [isVisible]="isSignupVisible"
  (switchModal)="handleSwitchModal($event)"
></app-signup-modal>

<app-signin-modal
  [isVisible]="isSigninVisible"
  (switchModal)="handleSwitchModal($event)"
></app-signin-modal>
