<div class="modal" [class.hidden]="!isVisible">
  <h2 class="modal__header">Sign in</h2>
  <form class="modal__form" (submit)="onSubmit()">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="user.email"
      name="email"
      required
    />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="user.password"
      name="password"
      required
    />

    <button type="submit">Sign in</button>
  </form>
  <button class="btn--close-modal" (click)="isVisible = false">&times;</button>
</div>
<div class="overlay" [class.hidden]="!isVisible"></div>
