<section class="section" id="section--3">
  <div class="section__title section__title--testimonials">
    <h2 class="section__description">Feedback</h2>
    <h3 class="section__header">
      Millions of customers are already making their lives cleaner.
    </h3>
  </div>
  <div class="slider">
    <div class="slide">
      <div class="testimonial">
        <blockquote class="testimonial__text">
          {{ user.description }}
        </blockquote>
        <address class="testimonial__author">
          <img [src]="user.profilePicture" alt="" class="testimonial__photo" />
          <h6 class="testimonial__firstName">{{ user.firstName }}</h6>
          <p class="testimonial__lastName">{{ user.lastName }}</p>
        </address>
      </div>
    </div>
    <button class="slider__btn slider__btn--left">&larr;</button>
    <button class="slider__btn slider__btn--right">&rarr;</button>
  </div>
</section>
