<section class="section" id="section--3">
  <div class="section__title section__title--testimonials">
    <h2 class="section__description">Feedback</h2>
    <h3 class="section__header">
      Millions of customers are already making their lives cleaner.
    </h3>
  </div>
  <div class="slider">
    <div
      class="slide"
      *ngFor="let feedback of feedbacks; let i = index"
      [style.transform]="'translateX(' + (i - currentSlide) * 100 + '%)'"
    >
      <div class="testimonial">
        <blockquote class="testimonial__text">
          {{ feedback.description }}
        </blockquote>
        <address class="testimonial__author">
          <img [src]="user.profilePicture" alt="" class="testimonial__photo" />
          <h6 class="testimonial__firstName">
            {{ feedback.id }}
          </h6>
          <p class="testimonial__lastName">
            {{ feedback.userId }}
          </p>
        </address>
      </div>
    </div>
    <button class="slider__btn slider__btn--left" (click)="prevSlide()">
      &larr;
    </button>
    <button class="slider__btn slider__btn--right" (click)="nextSlide()">
      &rarr;
    </button>
  </div>
</section>
