<div #modal class="modal" *ngIf="isVisible">
  <h2 class="modal__header">Add Feedback</h2>
  <form class="modal__form">
    <label for="description">Description</label>
    <textarea
      placeholder="Enter your description"
      id="description"
      [(ngModel)]="user.description"
      name="description"
      required
    ></textarea>

    <button type="submit">Submit</button>
  </form>
  <button class="btn--close-modal" (click)="isVisible = false">&times;</button>
</div>
<div #overlay class="overlay" *ngIf="isVisible"></div>
