<div #modal class="modal" *ngIf="isVisible">
  <h2 class="modal__header">Add Feedback</h2>
  <form class="modal__form" (submit)="onSubmit()">
    <label for="firstname">First Name</label>
    <textarea
      placeholder="Add lastName"
      id="firstName"
      [(ngModel)]="user.firstName"
      name="firstName"
      required
    ></textarea>
    <label for="lastname">Last Name</label>
    <textarea
      placeholder="Add lastName"
      id="lastName"
      [(ngModel)]="user.lastName"
      name="lastName"
      required
    ></textarea>
    <label for="description">Description</label>
    <textarea
      placeholder="Add Description"
      class="description"
      [(ngModel)]="user.description"
      name="description"
      required
    ></textarea>

    <button type="submit">Submit</button>
  </form>
  <button class="btn--close-modal" (click)="isVisible = false">&times;</button>
</div>
<div #overlay class="overlay" *ngIf="isVisible"></div>
