<nav class="nav">
  <img src="img/logo.png" alt="Bankist logo" class="nav__logo" id="logo" />
  <ul class="nav__links">
    <li class="nav__item">
      <a class="nav__link" href="#">How it works</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Services</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Testimonials</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Pricing</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Contant</a>
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--btn btn--show-modal" href="#"
        >Open account</a
      >
    </li>
  </ul>
</nav>
