<section class="section" id="section--2">
  <div class="section__title">
    <h2 class="section__description">Services</h2>
    <h3 class="section__header">We clean every types of room</h3>
  </div>

  <div class="features">
    <div class="features__image-box">
      <div class="image-box__item" *ngFor="let image of images">
        <div class="image-card">
          <img [src]="image.src" [alt]="image.alt" class="features__img" />
        </div>
      </div>
    </div>

    <div class="features__feature" *ngFor="let feature of features">
      <span class="pricing">
        <span>
          {{ feature.price }} <small>{{ feature.period }}</small>
        </span>
      </span>
      <div class="features__icon">
        <img [src]="feature.icon" [alt]="feature.alt" />
      </div>
      <h5 class="features__header">{{ feature.header }}</h5>
      <p>{{ feature.description }}</p>
      <button class="btn">Book now</button>
    </div>
  </div>
</section>
