<nav class="nav">
  <img
    src="/assets/cleaner.png"
    alt="WeClean logo"
    class="nav__logo"
    id="logo"
  />
  <h1 class="nav__name">weClean</h1>

  <ul class="nav__links">
    <li class="nav__item">
      <a class="nav__link" href="#how-it-works">How it works</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#services">Services</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#testimonials">Testimonials</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#contact">Contact</a>
    </li>
    <li class="nav__item" *ngIf="!isLoggedIn">
      <a
        class="nav__link nav__link--btn btn--show-modal"
        href="#"
        (click)="toggleModal()"
      >
        Open account
      </a>
    </li>
    <!-- When user is logged in -->
    <li class="nav__item" *ngIf="isLoggedIn">
      <a class="nav__link nav__link--btn btn--show-modal" href="#">
        Add Feedback
      </a>
    </li>
    <li class="nav__item" *ngIf="isLoggedIn">
      <a
        class="nav__link nav__link--btn btn--show-modal"
        href="#"
        (click)="logOff()"
      >
        Logout
      </a>
    </li>
  </ul>
</nav>
